.anecdote_body_container{
    position: absolute;
    top: 58px;
    left: 70px;
    background-image: url("i_480/25alfa_20.png");
    height: 340px;
    width: 570px;
    padding: 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    text-shadow: #122946 0 -1px 0;
    font-size: 18px;
}

.anecdote_body_container .date{
    color: #99a8b5;
}

.anecdote_body_container .date{
    color: #99a8b5;
}

.anecdote_body_container .rate{
    color: #0c0;
}

.anecdote_body{
    float: left;
    overflow: hidden;
    width: 540px;
    height: 348px;
}

.anecdote_left_arrow{
    position: absolute;
    top: 220px;
    left: 25px;
    height: 44px;
    width: 37px;
    background-image: url("i_480/arr_left.png");
}

.anecdote_right_arrow{
    position: absolute;
    top: 220px;
    right: 25px;
    height: 44px;
    width: 37px;
    background-image: url("i_480/arr_right.png");
}

.anecdote_page_bar{
    position: absolute;
    top: 412px;
    width: 570px;
    left: 70px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

/* QUICK PAGE SWITCH */
.quick_page_switch{
    position:absolute;
    width: 239px;
    height: 196px;
    left: 240px;
    top: 230px;
    background: url("i_480/input_channel_bg.png");
}

.quick_page_input{
    position:absolute;
    top: 82px;
    left: 75px;
    font: 28px "trebuchet ms", Arial, Helvetica, sans-serif;
    text-align: center;
    color: #048;
    width: 89px;
    height: 40px;
}
/* END QUICK PAGE SWITCH */