/* VCLUB INFO */
.mb_main_filminfo{
    position: absolute;
    width: 622px;
    height: 420px;
    left: 49px;
    top: 72px;
}

.mb_filminfo_name{
    width: 622px;
    text-shadow: #0f385a 1px 2px 0;
    font-size: 25px;
    color: #fff;
}

.mb_filminfo_fullinfo{
    position: relative;
    float: left;
    font-size: 18px;
    color: #fff;
    text-align: justify;
}

.mb_hidden_overflow{
    float: left;
    overflow: hidden;
    width: 343px;
    height: 380px;
    padding-left: 5px;
}

.mb_filminfo_fullinfo span{
    color: #cfeafe;
}

.hr_filminfo{
    background: url("i/hr_filminfo.png") center no-repeat;
    margin: 5px 0;
    width: 100%;
    height: 2px;
}

.mb_filminfo_prev{
    float: right;
    background: url("i/mb_prev_bg.png");
    height: 322px;
    width: 242px;
    padding: 5px;
    margin-top: 15px;
}

.mb_filminfo_prev img {
    width: 240px;
    height: 320px;
}

.mb_filminfo_trans{
    /*background: url("i/mb_filminfo_trans.png") bottom left;*/
    height: 35px;
    width: 350px;
    position: absolute;
    /*top: 346px;*/
    bottom: 0;
}
/* END VCLUB INFO */