.curweather_block{
    position: absolute;
    right: 60px;
    top : 135px;
    width: 293px;
    color: #fff;
    text-shadow: rgba(0, 50, 80, 0.5) 1px 2px 0;
    font-size: 24px;
    text-align: left;
}

.curweather_block .city{
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    font-family: "Roboto", sans-serif;
}

.curweather_block .curweather_img{
    position: absolute;
    top : 5px;
    right: 5px;
}

.curweather_block .curweather_descr{
    margin: 85px 0 0 0;
    padding: 0 0 8px 8px;
    text-align: right;
}

.curweather_block .curweather_wind{
    float: right;
}

.curweather_block .curweather_title{
    font-family: "Roboto", sans-serif;
}
.curweather_block .wind_direction_N{
    -webkit-transform: rotate(180deg);
    float: left;
    margin: 0 5px 0 8px;
}

.curweather_block .wind_direction_NE{
    -webkit-transform: rotate(225deg);
    float: left;
    margin: 0 5px 0 8px;
}

.curweather_block .wind_direction_E{
    -webkit-transform: rotate(270deg);
    float: left;
    margin: 0 5px 0 8px;
}

.curweather_block .wind_direction_SE{
    -webkit-transform: rotate(315deg);
    float: left;
    margin: 0 5px 0 8px;
}

.curweather_block .wind_direction_S{
    -webkit-transform: rotate(0deg);
    float: left;
    margin: 0 5px 0 8px;
}

.curweather_block .wind_direction_SW{
    -webkit-transform: rotate(45deg);
    float: left;
    margin: 0 5px 0 8px;
}

.curweather_block .wind_direction_W{
    -webkit-transform: rotate(90deg);
    float: left;
    margin: 0 5px 0 8px;
}

.curweather_block .wind_direction_NW{
    -webkit-transform: rotate(135deg);
    float: left;
    margin: 0 5px 0 8px;
}

.curweather_block .wind_direction_na{
    display: none;
}