.main_container, .payment_container, .agreement_container, .terms_container{
    position: absolute;
    left: 15px;
    height: 312px;
    width: 565px;
}
.main_content, .payment_content, .agreement_content, .terms_content{
    position: absolute;
    height: 312px;
    width: 540px;
    overflow: hidden;
}

#account .label{
    color: #FFE8C7;
}