.anecdote_body_container{
    position: absolute;
    top: 100px;
    left: 80px;
    background-image: url("i_720/25alfa_20.png");
    height: 460px;
    width: 1100px;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-size: 24px;
}

.anecdote_body_container .date{
    color: #FFE8C7;
}

.anecdote_body_container .rate{
    color: #0c0;
}

.anecdote_body{
    float: left;
    overflow: hidden;
    width: 1077px;
    height: 427px;
    font-size: 26px;
}

.anecdote_left_arrow{
    position: absolute;
    top: 310px;
    left: 20px;
    height: 44px;
    width: 37px;
    background-image: url("i_720/arr_left.png");
}

.anecdote_right_arrow{
    position: absolute;
    top: 310px;
    right: 20px;
    height: 44px;
    width: 37px;
    background-image: url("i_720/arr_right.png");
}

.anecdote_page_bar{
    position: absolute;
    top: 583px;
    width: 1100px;
    left: 80px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

/* QUICK PAGE SWITCH */
.quick_page_switch{
    position:absolute;
    width: 239px;
    height: 196px;
    left: 509px;
    top: 240px;
    background: url("i_720/input_channel_bg.png");
}

.quick_page_input{
    position:absolute;
    top: 80px;
    left: 75px;
    font: 33px trebuchet ms, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #5a3807;
    width: 89px;
    height: 40px;
}
/* END QUICK PAGE SWITCH */