.anecdote_body_container{
    position: absolute;
    top: 100px;
    left: 70px;
    background-image: url("i/25alfa_20.png");
    height: 370px;
    width: 570px;
    padding: 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.anecdote_body_container .date{
    color: #FFE8C7;
}

.anecdote_body_container .date{
    color: #99a8b5;
}

.anecdote_body_container .rate{
    color: #0c0;
}

.anecdote_body{
    float: left;
    overflow: hidden;
    width: 540px;
    height: 348px;
}

.anecdote_left_arrow{
    position: absolute;
    top: 250px;
    left: 20px;
    height: 48px;
    width: 37px;
    background-image: url("i/arr_left.png");
}

.anecdote_right_arrow{
    position: absolute;
    top: 250px;
    right: 20px;
    height: 48px;
    width: 37px;
    background-image: url("i/arr_right.png");
}

.anecdote_page_bar{
    position: absolute;
    top: 480px;
    width: 570px;
    left: 70px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

/* QUICK PAGE SWITCH */
.quick_page_switch{
    position:absolute;
    width: 239px;
    height: 196px;
    left: 240px;
    top: 230px;
    background: url("i/input_channel_bg.png");
}

.quick_page_input{
    position:absolute;
    top: 82px;
    left: 75px;
    font: 28px trebuchet ms, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #5a3807;
    width: 89px;
    height: 40px;
}
/* END QUICK PAGE SWITCH */