.cityinfo_info_box{
    position: absolute;
    width: 242px;
    min-height: 100px;
    top: 73px;
    left: 419px;
    padding: 5px;
    line-height: 20px;
    color: #fff;
    font-size: 18px;
    background-image: url("i/25alfa_20.png");
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.cityinfo_info_box span{
    color: #FFE8C7;
    font-size: 18px;
}