/*
#epg .blue_row_bg{
    position: absolute;
    left: 49px;
    top: 92px;
    width: 632px;
    height: 25px;
    background-image: url("i_480/tv_table.png");    
    background-position: 0 -25px;
}
*/

#epg .active_row_bg, #epg .blue_row_bg[active="active"]{
    position: absolute;
    left: 49px;
    top: 92px;
    width: 263px;
    height: 25px;
    background-image: url("i_480/tv_table.png");
    background-position: 0 0px;
    padding: 0;
    width: 632px;
}

#epg .name_block, #epg .active_name_block{
    font-size: 17px;
    width: 128px;
    text-overflow: ellipsis;
    font-family: "Myriad Pro Cond";
    float: left;
    margin: 1px 6px 0 3px;
}

#epg .active_name_block, #epg .blue_row_bg[active="active"] .name_block{
    padding-left: 3px;
}

#epg .blue_row_bg[active="active"] .name_block{
    font-size: 19px;
    color: #fff;
}

#epg .epg_container_block{
    width: 449px;
    text-overflow: ellipsis;
    float: left;
}

#epg .active_number_block, #epg .blue_row_bg[active="active"] .number_block{
    margin: 1px 0 0 4px;
}

#epg .blue_row_bg[active="active"] .number_block{
    width: 34px;
    height: 20px;
    background-image: none;
    background-color: #fff;
    border-radius: 2px;
    color: #5a3807;
    margin-top: 2px;
}

#epg .active_epg_container_block, #epg .blue_row_bg[active="active"] .epg_container_block{
    width: 449px;
    text-overflow: ellipsis;
    float: left;
    margin-left: 4px;
}

#epg .program{
    font-size: 16px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    position: relative;
}

#epg .program .marks{
    position: absolute;
    top: 0;
    left: 0;
}

#epg .program .marks div{
    float: left;
    margin: 1px 0 0 1px;
}

#epg .program .marks .mark_memo{
    height: 8px;
    width: 8px;
    /*background-color: #0c0;*/
    background-image: url("i_480/epg_green_mark.png");
}

#epg .program .marks .mark_rec{
    height: 8px;
    width: 8px;
    background-image: url("i_480/epg_red_mark.png");
}

#epg .program .marks .mark_archive{
    height: 8px;
    width: 8px;
    background-image: url("i/epg_orange_mark.png");
}

#epg .blue_row_bg .program{
    color: #968060;
}

#epg .active_row_bg .program, #epg .blue_row_bg[active="active"] .program{
    color: #fff;
}

#epg .program_txt{
    padding: 5px 2px 0 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:pre;
    font-family: "Myriad Pro Cond", sans-serif;
}

#epg .blue_row_bg[active="active"] .program_txt {
}

#epg .program_separator{
    float: left;
    background-image: url("i_480/tv_table_separator.png");
    width: 2px;
    height: 23px;
}

#epg .program .larr{
    background-image: url("i_480/tv_table_arrows.png");
    height: 25px;
    width: 10px;
    float: left;
}

#epg .blue_row_bg .program .larr{
    background-position: 2px -25px;
}

#epg .active_row_bg .program .larr, #epg .blue_row_bg[active="active"] .program .larr{
    background-position: 0 0px;
}

#epg .program .rarr{
    background-image: url("i_480/tv_table_arrows.png");
    height: 23px;
    width: 10px;
    float: right;
}

#epg .blue_row_bg .program .rarr{
    background-position: 12px -25px;
}

#epg .active_row_bg .program .rarr, #epg .blue_row_bg[active="active"] .program .rarr{
    background-position: 11px 0px;
}

#epg .program[rel="active"]{
    background-image: url("i_480/tv_table_focus.png");
    background-position: 0 0px;
    color: #5A3807 !important;
}

.active_epg_container_block > .program:last-child, .epg_container_block > .program:last-child{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
}

#epg .program_info{
    position: absolute;
    bottom:50px;
    left: 50px;
    height: 80px;
    width: 622px;
    font-size: 20px;
    color: #fff;
    overflow: hidden;
    /*background-image: url("i/25alfa_20.png");*/
    border-radius: 8px;
    padding: 0 5px;
}

#epg .program_info .time{
    color: #FFE8C7;
    font-weight: bold;
}

#epg .on_date{
    position: absolute;
    top: 76px;
    right: 495px;
    text-align: right;
    width: 173px;
    color: #FFE8C7;
    font-size: 14px;
}

#epg .time_mark{
    position: absolute;
    top: 76px;
    color: #fff;
    font-size: 14px;
}

#epg .mark-1{
    left: 230px;
}

#epg .mark-2{
    left: 380px;
}

#epg .mark-3{
    left: 530px;
}

#epg .mark-4{
    right: 38px;
}

#epg .live_line_container{
    position: absolute;
    top: 92px;
    left: 231px; /* 231px-678px */
    width: 447px;
}

#epg .live_line{
    position: absolute;
    background-color: rgba(227, 147, 34, 0.4);
    width: 2px;
    height: 248px;
    -webkit-transition: all 0.2s linear;
}
