.horoscope_menu{
    margin: 470px 0 0 211px;
    list-style: none;
}

.horoscope_menu li{
    display: block;
    float: left;
    margin: 0 182px 0 0;
    width: 160px;
    height: 121px;
}

.horoscope_common_info{
    position: absolute;
    top: 110px;
    left: 70px;
    background-image: url("i_720/25alfa_20.png");
    min-height: 120px;
    width: 1100px;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-size: 24px;
}

.horoscope_info{
    position: absolute;
    bottom: 294px;
    left: 70px;
    background-image: url("i_720/25alfa_20.png");
    min-height: 100px;
    width: 1100px;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-size: 24px;
}

.horoscope_info span{
    color: #99a8b5;
}

.horoscope_left_arrow{
    position: absolute;
    bottom: 124px;
    left: 0;
    height: 162px;
    width: 165px;
    background-image: url("i_720/mm_hor_left.png");
}

.horoscope_right_arrow{
    position: absolute;
    bottom: 124px;
    right: 10px;
    height: 162px;
    width: 320px;
    background-image: url("i_720/mm_hor_right.png");
}