#image_viewer{
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 780px;
}

#image_viewer .image_block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#image_viewer .image{
    display: block;
    margin: 0 auto;
}

#image_viewer .label{
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 22px;
    color: #00ff33;
    text-shadow: #000 1px 1px 2px;
}