.singer_block{
    color: #5A3807;
    font-size: 26px;
    margin: 0 0 0 3px;
    padding-left: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
    float: left;
}

.active_singer_block{
    font-size: 26px;
    color: #fff;
    margin-top: 6px;
    margin-right: 25px;
    white-space: pre;
    overflow: hidden;
    width: 481px;
    float: left;
    text-overflow: ellipsis;
    /*font-weight: bold;*/
}