/* BOTTOM MENU */
.bottom_menu{
    position: absolute;
    top: 200px;
    width: 200px;
}

.bottom_menu_corners{
    height: 25px;
    background: url("i/footer_menu.png") top no-repeat;
}

.bottom_menu_container{
    background: url("i/footer_menu.png") bottom no-repeat;
    padding: 1px 15px 26px 15px;
}

.bottom_menu_container li{
    height: 22px;
    padding: 3px 5px 0 9px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    list-style: none;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom_menu_container li div{
    text-align: center;
    width: 100%;
}

.bottom_menu_container li.bottom_menu_active_row{
    background: url("i/footer_menu_act.png");
    color: #ffca00;
}

.bottom_menu_container li[rel="disabled"]{
    color: #606060;
}

.bottom_menu_container li[rel="disabled"].bottom_menu_active_row {
    color: #606060;
}

.bottom_menu_container li .bull{
    color: #f00;
    float: right;
}
/* END BOTTOM MENU */