/* VCLUB INFO */
.mb_main_filminfo{
    height: 360px;
    left: 69px;
    position: absolute;
    top: 72px;
    width: 622px;
}

.mb_filminfo_name{
    width: 622px;
    font-size: 22px;
    color: #fff;
}

.mb_filminfo_fullinfo{
    position: relative;
    float: left;
    font-size: 16px;
    color: #fff;
    /*text-align: justify;*/
}

.mb_hidden_overflow{
    float: left;
    overflow: hidden;
    width: 343px;
    height: 332px;
    padding-left: 5px;
}

.mb_filminfo_fullinfo span{
    color: #FFE8C7;
}

.hr_filminfo{
    background: url("i_480/hr_filminfo.png") center no-repeat;
    margin: 5px 0;
    width: 100%;
    height: 2px;
}

.mb_filminfo_prev{
    float: right;
    background: url("i_480/mb_prev_bg.png");
    height: 302px;
    width: 227px;
    padding: 5px;
    margin:15px 13px 0 0;
}
.mb_filminfo_prev img {
    width: 225px;
    height: 300px;
}
.mb_filminfo_trans{
    /*background: url("i_480/mb_filminfo_trans.png") bottom left;*/
    height: 35px;
    width: 350px;
    position: absolute;
    bottom: 0;
}
/* END VCLUB INFO */