#remote_pvr .t_start_block{
    position: absolute;
    right: 2px;
    top: 0;
    width: 96px;
    height: 25px;
    background: url("i/mb_table04.png") 102px 0;
    padding: 3px 0 0 4px;
    color: #fff;
    font-family: "Myriad Pro Cond", sans-serif;
    overflow: hidden;
}

/*#remote_pvr .blue_row_bg[rel="close"] .t_start_block{
    color: #fff;
}*/

#remote_pvr .blue_row_bg.close .t_start_block{
    color: #fff;
}

/*#remote_pvr .blue_row_bg[rel=""] .t_start_block{
    color: #f77;
}*/

#remote_pvr .blue_row_bg .t_start_block{
    color: #f77;
}

#remote_pvr .active_t_start_block{
    background: url("i/mb_table_act02.png") 118px -4px;
    color: #000000;
    font-family: "Myriad Pro Cond",sans-serif;
    height: 40px;
    overflow: hidden;
    padding: 3px 0 0 4px;
    position: absolute;
    right: 23px;
    top: 4px;
    width: 105px;
}

#remote_pvr .ch_name_block{
    color: #99A8B5;
    font-size: 20px;
    margin: 3px 103px 0 3px;
    overflow: hidden;
    padding-left: 3px;
    text-shadow: 0 -1px 0 #122946;
    white-space: pre;
}

/*#remote_pvr .blue_row_bg[rel="close"] .ch_name_block{
    color: #FFFFFF !important;
}*/

#remote_pvr .blue_row_bg.close .ch_name_block{
    color: #FFFFFF !important;
}

#remote_pvr .active_ch_name_block{
    color: #808080;
    font-size: 22px;
    margin-right: 130px;
    margin-top: 8px;
    overflow: hidden;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: pre;
}

/*#remote_pvr .active_row_bg[rel="close"] .active_ch_name_block{
    color: #002864 !important;
}*/

#remote_pvr .active_row_bg.close .active_ch_name_block{
    color: #002864 !important;
}

#remote_pvr .length_block{
    width: 0;
    height: 0;
    overflow: hidden;
}

#remote_pvr .active_length_block{
    color: #000;
    font-family: "Myriad Pro Cond",sans-serif;
    height: 20px;
    overflow: hidden;
    padding: 3px 0 0 4px;
    position: absolute;
    right: 23px;
    top: 23px;
    width: 105px;
}

#remote_pvr .rest_length_block{
    position: absolute;
    right: 50px;
    top: 493px;
    color: #fff;
}

#remote_pvr .rest_length_title{
    font-size: 14px;
}

#remote_pvr .rest_length{
    font-size: 20px;
}