.audio_widget_block{
    position: absolute;
    left: 22px;
    top : 229px;
    width: 205px;
    height: 68px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-image: url("i/25alfa_20.png");
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0 0 3px 0;
}

.audio_widget_block .title{
    white-space: pre;
    overflow: hidden;
    margin: 0 5px;
    text-overflow: ellipsis;
}

.audio_widget_block .items{
    margin: 0 auto;
    color: #FFE8C7;
    font-size: 14px;
}

.audio_widget_block .seek_bar{
    margin: 0 auto;
    width: 180px;
    height: 4px;
    /*border: 1px solid #002864;*/
    background-color: #fff;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

.audio_widget_block .seek_bar .inner{
    height: 4px;
    width: 0;
    background-color: #ffae00;
    -webkit-border-radius: 3px;
}

.audio_widget_block .prev_btn{
    width: 27px;
    height: 21px;
    position: absolute;
    bottom: 3px;
    left: 33px;
    background-image: url("i/mb_player.png");
    background-position: -75px 0;
}

.audio_widget_block .next_btn{
    width: 27px;
    height: 21px;
    position: absolute;
    bottom: 3px;
    left: 141px;
    background-image: url("i/mb_player.png");
    background-position: -48px 0;
}

.audio_widget_block .play_btn{
    width: 24px;
    height: 21px;
    position: absolute;
    bottom: 3px;
    left: 89px;
    background-image: url("i/mb_player.png");
    background-position: 0 0;
}

.audio_widget_block .pause_btn{
    position: absolute;
    bottom: 3px;
    left: 89px;
    width: 24px;
    height: 21px;
    background-image: url("i/mb_player.png");
    background-position: -24px 0;
}