.modal_form{
    position: absolute;
    left: 50%;
    top: 50%;
    border-width: 11px 13px 15px 13px;
    width: 450px;
    /*height: 186px;*/
    margin-left: -238px;
    margin-top: -100px;
    -webkit-border-image: url(i/modal_bg.png) 11 13 15 13 stretch stretch;
}

.modal_form .title{
    font-size: 30px;
    color: #002864;
    margin-bottom: 6px;
}

.modal_form .text{
    font-size: 26px;
    margin-bottom: 3px;
    border: 5px;
    -webkit-border-image: url(i/item_bg.png) 5;
}

.modal_form .status{
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 22px;
    color: #990000;
}

.modal_form .item{
    border-width: 20px 6px 20px 6px;
    -webkit-border-image: url(i/item_bg.png) 20 6 20 6 stretch stretch;
    margin-bottom: 6px;
}

.modal_form  .item  input{
    float: right;
    height: 5px;
    width: 59%;
    margin-top: -15px;
    border-width: 13px 13px 13px 13px;
    -webkit-border-image: url(i/input.png) 13 13 14 13 stretch stretch;
    -webkit-border-radius: 15px;
}
.modal_form .item input:focus{
    -webkit-border-image: url(i/input_act.png) 13 13 14 13 stretch stretch;
}

.modal_form .label{
    float: left;
    font-size: 22px;
    color: #002864;
    text-shadow: white 1px 1px 1px;
    line-height: 42px;
    margin-top: -20px;
}
.modal_form .buttons{
    width: 100%;
    text-align: right;
}

.modal_form .buttons input{
    /*float: right;*/
    background: url(i/btn2.png) right no-repeat;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    line-height: 28px;
    text-shadow: #808080 -1px -1px 3px;
    height: 31px;
    width: 200px;
    margin: 0 4px 0 10px;
    border: none;
}

.modal_form .buttons input:focus{
    background: url(i/btn2.png) left no-repeat;
    color: #fff;
    text-shadow: #000 -1px -1px 3px;
}

.modal_form .form_select{
    height: 5px;
    width: 233px !important;
    top: -13px;
    border-width: 13px 13px 14px 13px;
    -webkit-border-image: url(i/combobox.png) 13 13 14 13 stretch stretch !important;
    float: right;
    margin-top: -15px;
    line-height: 2px;
    overflow: hidden;
    font-size: 18px;
}

.modal_form .form_select.active{
    -webkit-border-image: url(i/combobox_act.png) 13 13 14 13 stretch stretch !important;
}

.modal_form .form_time, .modal_form .form_date{
    height: 5px;
    top: -13px;
    border-width: 13px 13px 14px 13px;
    -webkit-border-image: url(i/input.png) 13 12 14 12 stretch stretch !important;
    float: left;
    margin-top: -15px;
    line-height: 10px;
    /*overflow: hidden;*/
    margin-right: 10px;
    font-size: 18px;
    /*font-family: "Courier New", serif;*/
}

.modal_form .form_time.active, .modal_form .form_date.active{
    -webkit-border-image: url(i/input_act.png) 13 12 14 12 stretch stretch !important;
}

.modal_form .form_time.edit, .modal_form .form_date.edit{
    color: #00f;
}

.modal_form .form_time .highlight, .modal_form .form_date .highlight{
    color: #f00;
}

.modal_form .form_time{
    width: 45px;
}
.modal_form .form_date{
    width: 88px;
}

.modal_form .fixed_container{
    width: 283px;
    float: right;
}

.modal_form .select_arrow{
    float: right;
    font-size: 20px;
    font-family: "Myriad Pro Cond", serif;
    position: relative;
    bottom: 11px;
    color: #888;
    height: 40px;
    width: 10px;
    padding-right: 2px;
}

.modal_form .select_arrow.active{
    color: #035f9e;
}

#local_pvr_confirm{
    margin-top: -164px;
}