/* application: release */
/*
 *
*/
body {
    background: transparent !important;
    font-size: 18px; }

#splashAppName {
    position: relative;
    top: 300px; }

#splashAppVersion {
    bottom: 24px;
    right: 62px; }

#loaderCenterNode > table {
    border-spacing: 6px; }

.app-icon {
    width: 37px;
    height: 37px; }

.app-icon.tv {
    background-image: url("../img/720/tv.png"); }

.app-icon.video {
    background-image: url("../img/720/video.png"); }

.app-icon.audio {
    background-image: url("../img/720/audio.png"); }

.app-icon.radio {
    background-image: url("../img/720/radio.png"); }
