/* application: release */
/*
 *
*/
body {
    background: transparent !important;
    font-size: 22px; }

#splashAppName {
    position: relative;
    top: 440px; }

#splashAppVersion {
    bottom: 28px;
    right: 66px; }

#loaderCenterNode > table {
    border-spacing: 8px; }

.app-icon {
    width: 58px;
    height: 58px; }

.app-icon.tv {
    background-image: url("../img/1280/tv.png"); }

.app-icon.video {
    background-image: url("../img/1280/video.png"); }

.app-icon.audio {
    background-image: url("../img/1280/audio.png"); }

.app-icon.radio {
    background-image: url("../img/1280/radio.png"); }
