.duration_box{
    position: absolute;
    z-index: 100;
    width: 334px;
    height: 222px;
    left: 473px;
    top: 243px;
    background: url("i_720/input_episode_bg.png");
}

.duration_box_input{
    position: absolute;
    top: 83px;
    left: 123px;
    width: 89px;
    height: 40px;
    background: url("i_720/input_channel.png") center;
    font: 34px "Myriad Pro Cond";
    text-align: center;
    color: #048;
    overflow: hidden;
    white-space: pre;
    padding: 4px 0 0 0;
}

.duration_box_title{
    position: absolute;
    top: 129px;
    width: 100%;
    font: 14px "Myriad Pro Cond";
    color: #333;
    font-weight: bold;
    text-align: center;
}