.guess_block{
    color: #202020;
    font-size: 20px;
    margin: 3px 0 0 13px;
    padding-left: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 60px;
}

.active_guess_block{
    font-size: 22px;
    color: #202020;
    margin: 8px 25px 0 14px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 62px;
}

.score_block{
    color: #202020;
    font-size: 20px;
    margin: 3px 15px 0 3px;
    padding-left: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
}

.active_score_block{
    font-size: 22px;
    color: #202020;
    margin: 8px 25px 16px 4px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    width: 62px;
}

.mastermind_field{
    position: absolute;
    top: 230px;
    left: 350px;
}

.mastermind_field div{
    float: left;
    width: 60px;
    height: 82px;
    /*background-color: #245490;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#5E5E5E), to(#333));
    background: -moz-linear-gradient(top, #5E5E5E, #333);
    margin: 0 25px 0 0;
    text-align: center;
    font-size: 64px;
    -webkit-box-shadow: 3px 3px 15px #111;
    -moz-box-shadow: 3px 3px 15px #111;
    box-shadow: 3px 3px 15px #111;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    border: 2px solid #333;
}

.mastermind_field .active{
    border: 2px solid #fff;
}

.place_block{
    background-image: url("i_480/mb_icons.png");
    background-position: -92px 0px;
    width: 34px;
    height: 21px;
    float: left;
    margin: 2px 0 0 4px;
    color: #202020;
    font-size: 18px;
    text-align: center;
    white-space: pre;
    overflow: hidden;
}

.active_place_block{
    width: 34px;
    height: 29px;
    background-image: url("i_480/mb_icons.png");
    background-position: -92px -21px;
    margin: 4px 2px 0 0;
    float:left;
    font-size: 22px;
    color: #202020;
    text-align: center;
    white-space: pre;
    overflow: hidden;
    padding-top: 2px;
}

.sum_points_block{
    color: #202020;
    font-size: 20px;
    margin: 3px 15px 0 3px;
    padding-left: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
}

.active_sum_points_block{
    font-size: 22px;
    color: #202020;
    margin: 8px 35px 0 0;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
}

#mastermind_rating .name_block, #mastermind_rating .active_name_block{
    float: left;
}
.mastermind_rules_txt {
    background-image: url("i_480/25alfa_20.png");
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-size: 18px;
    height: 367px;
    left: 69px;
    padding: 5px;
    position: absolute;
    top: 58px;
    width: 580px;
}