.simple_layer{
    position:absolute;
    left: 50px;
    top: 73px;
    font-size: 18px;
    color: #fff;
    background-image: url("i/25alfa_20.png");
    height: 400px;
    width: 610px;
    padding: 20px 0 0 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}