/* SEARCH BOX */
.search_menu{
    position: absolute;
    left: 190px;
    top: 200px;
    width: 390px;
    height: 166px;
    background: url("i_720/footer_search.png") no-repeat;
}

.search_menu .lang_container{
    position: absolute;
    top: 44px;
    left: 15px;
    list-style: none;
    clear: both;
}

.lang_container ul{
    list-style: none;
    clear: both;
}

.lang_container ul li{
    float: left;
    width: 30px;
    height: 20px;
    /*margin: 1px 1px 0 0;*/
    border: 0 solid #fff;
    text-align: center;
    font-size: 17px;
    color: #fff;
    white-space: pre;
    overflow: hidden;
    padding: 0 0 0 0;
    line-height: 19px;
}

.lang_container ul li[rel="double_cell"]{
    width: 60px;
}

.lang_container ul li.search_active_cell{
    background: url("i_720/footer_search_act.png") no-repeat;
    color: #000;
    font-weight: bold;
    text-shadow: #fff -1px -1px 0;
}

.lang_container ul li[rel="double_cell"].search_active_cell{
    background: url("i_720/footer_search_act2.png") no-repeat;
}

.search_menu .search_input{
    position: absolute;
    top: 20px;
    left: 32px;
    width: 324px;
    height: 18px;
    border: 0;
    font-size: 15px;
    color: #000;
    font-weight:bold;
    white-space: pre;
    overflow: hidden;
    
}
/* END SEARCH BOX */