#service_management .description_block{
    display: none !important;
}

#service_management .subscribed_str_block,
#service_management .not_subscribed_str_block{
    position: absolute;
    right: -3px;
    top: 0;
    width: 96px;
    height: 22px;
    padding: 3px 0 0 6px;
    font-family: "Myriad Pro Cond", sans-serif;
    font-size: 16px;
}

#service_management .subscribed_str_block{
    background: url("i_480/mb_table.png") 102px -25px;
    color: #626262;
}

#service_management .not_subscribed_str_block{
    background: url("i_480/mb_table.png") 102px -75px;
    color: #fff;
}

#service_management .active_name_block{
    margin-top: 0;
    margin-left: 2px;
}

#service_management .active_description_block{
    color: #fff;
    font-size: 17px;
    line-height: 18px;
    white-space: pre;
    overflow: hidden;
    width: 480px;
    float: left;
    text-overflow: ellipsis;
    margin: -5px 0 0 2px;
    height: 20px;
}

.active_subscribed_str_block,
.active_not_subscribed_str_block{
    position: absolute;
    right: 11px;
    top: 4px;
    width: 101px;
    height: 27px;
    background: url("i_480/mb_table_act.png") 118px -58px;
    padding: 11px 0 0 8px;
    color: #fff;
    font-family: "Myriad Pro Cond", sans-serif;
    overflow: hidden;
}

#package_info .label {
    color: #ffc528;
}

#package_info .info-block{
    margin-bottom: 10px;
}