#service_management .description_block{
    display: none !important;
}

#service_management .subscribed_str_block,
#service_management .not_subscribed_str_block{
    position: absolute;
    right: 1px;
    top: 0;
    width: 194px;
    height: 31px;
    padding: 5px 0 0 6px;
    font-size: 20px;
}

#service_management .subscribed_str_block{
    background: url("i_720/mb_table02.png") 202px 0;
    color: #626262;
}

#service_management .not_subscribed_str_block{
    background: url("i_720/mb_table04.png") 202px 0;
    color: #fff;
}

#service_management .active_name_block{
    margin-top: -5px;
}

#service_management .active_description_block{
    color: #fff;
    font-size: 20px;
    line-height: 21px;
    white-space: pre;
    overflow: hidden;
    width: 1068px;
    float: left;
    text-overflow: ellipsis;
    margin: -5px 0 0 2px;
    height: 21px;
}

.active_subscribed_str_block{
    position: absolute;
    right: 23px;
    top: 4px;
    width: 201px;
    height: 39px;
    background: url("i_720/mb_table_act02.png") 219px -4px;
    padding: 12px 0 0 8px;
    color: #fff;
    font-size: 20px;
    overflow: hidden;
}

.active_not_subscribed_str_block{
    position: absolute;
    right: 23px;
    top: 4px;
    width: 201px;
    height: 39px;
    background: url("i_720/mb_table_act02.png") 219px -4px;
    padding: 12px 0 0 8px;
    color: #fff;
    font-size: 20px;
    overflow: hidden;
}

#package_info .label {
    color: #ffc528;
}

#package_info .info-block{
    margin-bottom: 10px;
}