<!--
* {margin:0;padding:0;}
html, body {overflow: hidden;  font-family:"Myriad Pro"; color:#FFF;widht:1144;height:584;}
a {outline:none; text-decoration:none;}
:focus { outline: none; }
#center {background:url(720/bg.png) no-repeat;}
.header_text {position:absolute; margin-top:7px;max-width:1000px;overflow: hidden;white-space:nowrap;text-overflow: ellipsis; margin-left:30px; font-family:"Trebuchet MS"; font-size:40px; text-shadow:-1px -2px 0 #0f2240;}
.header_icon {position:absolute; margin-top:5px; right:70px; height:68px; width:68px;z-index: 110;}

.modal_big {position:absolute; background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #ccc)); border:solid 2px rgba(0,0,0,.7); border-radius:7px; width:900px;max-width: 900px;max-height:450px;overflow: hidden; margin:100px 0 0 100px; padding:20px 20px; -webkit-box-shadow:0px 0px 200px #000; color:#247; font-family:"Myriad Pro"; font-size:30px; display:none; z-index:9999;}
.modal {position:absolute; background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #ccc)); border:solid 2px rgba(0,0,0,.7); border-radius:7px; width:600px;max-width: 600px;overflow: hidden; margin:200px 0 0 280px; padding:20px 20px; -webkit-box-shadow:0px 0px 200px #000; color:#247; font-family:"Myriad Pro"; font-size:30px; display:none; z-index:9999;}
#modal_ico {height:80px; width:70px; float:left; margin-right:20px;}
.ico_alert {background:url(720/ico_alert.png);}
.ico_info {background:url(720/ico_info.png);}
.ico_issue {background:url(720/ico_issue.png);}
#modal_btn {position: relative; height:60px; width:600px; bottom:0px; right:10px;}
#modal_btn input[type=button] {position:relative; height:50px; margin-left:20px; background:none; white-space:nowrap; font-family:"Myriad Pro"; font-size:32px; font-weight:bold; color:#fff; float:right; border-width: 0 20px; -webkit-border-image: url(720/btn.png) 0 20 0 20 stretch stretch; text-shadow:-1px -2px 0 #555;}
#modal_btn input[type=button]:focus {background:none; border-width: 0 20px; -webkit-border-image: url(720/btn_act.png) 0 20 0 20 stretch stretch;}

