<!--
* {margin:0; padding:0;}
html, body {overflow: hidden; font-family:"Myriad Pro"; color:#fff;width:1144px; height:580px;}
a {outline:none; text-decoration:none;}
:focus { outline: none; }
.menu_container {position:absolute; margin-top:85px; margin-left:32px; width:1000px; height:476px;}
.menutrans_top {height:68px; width:1000px;position:absolute; top:0px; background:-webkit-gradient(linear, left bottom, left top, color-stop(1, rgba(37,83,155,1)), color-stop(0, rgba(35,78,146,0.3))); z-index:100;}
.menutrans_bottom {height:68px; width:1000px;position:absolute; bottom:0px; background:-webkit-gradient(linear, left bottom, left top, color-stop(1, rgba(21,48,90,0.3)), color-stop(0, rgba(19,44,83,1))); z-index:100;}
.menu_block {display:block;float:left;height:68px; width:1080px; background:none;font-family:"Trebuchet MS"; font-size:42px; line-height:66px; font-weight:bold; color:#FFF;}
.menu_block_act {display:block;float:left;height:68px; width:1080px; background:#FFF; border-radius:6px; font-family:"Trebuchet MS"; font-size:42px; line-height:66px; font-weight:bold; color:#247;}
.menu_icon {height:48px; float:left; width:48px; margin:10px 20px 10px 10px;}
#footer {position:absolute; height:50px; width:1110px; top:522px; left:2px;}
#footer input[type=button] {position:relative; height:50px; margin-left:20px;margin-top:5px; background:none; white-space:nowrap; font-family:"Myriad Pro"; font-size:32px; font-weight:bold; color:#fff; float:right; border-width: 0 20px; -webkit-border-image: url(720/btn.png) 0 20 0 20 stretch stretch; text-shadow:-1px 2px 0 #555;}
#footer input[type=button]:focus {background:none; color:#fff; border-width: 0 20px; -webkit-border-image: url(720/btn_act.png) 0 20 0 20 stretch stretch;}
#blueback {position:absolute; height:456px; width:1070px; padding:10px; top:62px; left:22px;}
#blueback .input_dot { height:30px; width:132px; background:url(720/input_dot.png); position:absolute;}
#blueback span {font-family:"Trebuchet MS"; font-size:30px; font-weight:bold; color:#fff;}


#blueback input[type=button] {position:relative; height:50px; margin:4px 0 4px 10px; background:none; white-space:nowrap; font-family:"Myriad Pro"; font-size:32px; font-weight:bold; color:#fff; border-width: 0 20px; -webkit-border-image: url(720/btn.png) 0 20 0 20 stretch stretch; text-shadow:-1px 2px 0 #555;}
#blueback input[type=button]:focus {background:none; color:#fff; border-width: 0 20px; -webkit-border-image: url(720/btn_act.png) 0 20 0 20 stretch stretch;}
#blueback input[type="checkbox"] {position: absolute;left: -9999px;}
#blueback input[type="checkbox"] + label {background: url(720/checkbox.png) 0 0 no-repeat;padding:23px 0 23px 46px;display:block;margin:4px 10px;}
#blueback input[type="checkbox"]:focus + label {background: url(720/checkbox_act.png) 0 0 no-repeat;}
#blueback input[type="checkbox"]:checked + label {background-position: 0 -64px;}
#blueback input[type="checkbox"]:checked:focus + label {}

#blueback input[type=text] {position:relative; height:46px; width:600px; margin:4px 0 4px 10px; background: none; font-family:"Trebuchet MS"; font-size:30px; color:#135; border-width: 0 8px; -webkit-border-image: url(720/input.png) 0 8 0 8 stretch stretch;}
#blueback input[type=text]:focus {height:46px;position:relative;font-size:30px; font-weight:bold; -webkit-border-image: url(720/input_act.png) 0 8 0 8 stretch stretch;}

#blueback input[type=password] {position:relative; height:46px; width:600px; margin:4px 0 4px 10px; background: none; font-family:"Trebuchet MS"; font-size:30px; color:#135; border-width: 0 8px; -webkit-border-image: url(720/input.png) 0 8 0 8 stretch stretch;}
#blueback input[type=password]:focus {height:46px;position:relative;font-size:30px; font-weight:bold; -webkit-border-image: url(720/input_act.png) 0 8 0 8 stretch stretch;}


#blueback input[type=text].ds {display:inline;position:relative; height:46px; width: 130px; margin:4px 0 4px 10px; background: none; font-family:"Trebuchet MS"; font-size:30px; color:#135; border-width: 0 8px; -webkit-border-image: url(720/input.png) 0 8 0 8 stretch stretch;}
#blueback input[type=text].ds:focus {display:inline;margin:3px 0 3px 10px;position:relative;font-size:30px; font-weight:bold; -webkit-border-image: url(720/input_act.png) 0 8 0 8 stretch stretch;}
#blueback td.ds{width:610px;}
#blueback td.dev{width:840px;max-width: 900px;}
#blueback span.ds {font-family:"Trebuchet MS"; font-size:30px; margin:0 -3 0 8; font-weight:bold; color:#fff;}

#blueback .sub_select {height:50px;position:relative;width:590px; margin:3px 0 3px 10px;}
#blueback .sub_select_long {height:50px;position:relative;width:890px; margin:3px 0 3px 5px;}
#blueback select.sub_select_long {height:50px;width:900px; background: none; font-family:"Trebuchet MS"; font-weight: bold; font-size:30px; color:#135; border-width: 1px 34px 1px 8px; -webkit-border-image: url(720/select.png) 1 34 1 8 stretch stretch; overflow:hidden;}
#blueback select.sub_select_long:focus {height:50px;font-size:30px; border-width: 1 34px 1 8px; font-weight:bold; -webkit-border-image: url(720/select_act.png) 0 34 0 8 stretch stretch;}
#blueback input.long_input{width:900px;}
#blueback input.long_input1{width:990px;}

#blueback select {height:50px;width:600px; background: none; font-family:"Trebuchet MS"; font-weight: bold; font-size:30px; color:#135; border-width: 1px 34px 1px 8px; -webkit-border-image: url(720/select.png) 1 34 1 8 stretch stretch; overflow:hidden;}
#blueback select:focus {height:50px;font-size:30px; border-width: 1 34px 1 8px; font-weight:bold; -webkit-border-image: url(720/select_act.png) 0 34 0 8 stretch stretch;}

#ch {}
#ch1 {height: 80px;}
#footer .but {width: 160px;}

#blueback input[type=button].volume{position:relative;  height:46px; width:600px; margin:4px 0 4px 10px;; background:none; font-family:"Myriad Pro"; font-size:22px; color:#fff; border-width: 0 8px; -webkit-border-image: url(720/input.png) 0 8 0 8 stretch stretch;}
#blueback input[type=button].volume:focus {background:none; -webkit-border-image: url(720/input_act.png) 0 8 0 8 stretch stretch;}
#blueback .volume_bar {position:relative;  height:46px; width:0px; background:none; border-width: 0 8px; -webkit-border-image: url(720/volume.png) 0 8 0 8 stretch; margin:-50px 0 0 10px;}
#blueback .volume_percent {position:relative;  height:46px; width:588px; color:#fff; font-family:"Myriad Pro"; font-size:26px; text-shadow:1px 0 2px #122748, -1px 0 2px #122748, 0 1px 2px #122748, 0 -1px 2px #122748; margin:-36px 0 0 20px;}


#menu_buttons {position:absolute; width:1180px; margin:170px 0 0 0;}
#menu_buttons input[type=button] {position:relative;width: auto !IMPORTANT; min-width:600px;max-width:1100px; height:70px; background:none; white-space:nowrap; font-family:"Myriad Pro"; font-size:42px; font-weight:bold; color:#fff; border-width: 0 20px; -webkit-border-image: url(720/menu_btn.png) 0 20 0 20 stretch stretch; text-shadow:-1px -2px 0 #152b4f;}
#menu_buttons input[type=button]:focus {background:none; -webkit-border-image: url(720/menu_btn_act.png) 0 20 0 20 stretch stretch;}

#blueback input[type=text].arrow{position:relative; height:46px; width:600px; margin:10px 0 10px 10px;; background:none; font-family:"Myriad Pro"; font-size:30px; font-weight:bold; color:#135; border-width: 0 26px; -webkit-border-image: url(720/input_arrow.png) 0 26 0 26 stretch stretch;}
#blueback input[type=text].arrow:focus {background:none; -webkit-border-image: url(720/input_arrow_act.png) 0 26 0 26 stretch stretch;}
#blueback .item_name {font-family:"Trebuchet MS"; font-size:24px; font-weight:bold; color:#fff;}
#blueback span.item_name {font-family:"Trebuchet MS"; font-size:30px; font-weight:bold; color:#fff;}

.wifi_list {border:solid 3px; height:320px; width:1070px; margin:10px 0px 10px 2px; background:none;}
.wifi_line1 {height:40px; width:1050px; background:#FFFFFF; padding:0 10px; font-family:"Trebuchet MS"; font-weight:bold; font-size:30px; color:#247;}
.wifi_line2 {height:40px; width:1050px; background:#f4f6f9; padding:0 10px; font-family:"Trebuchet MS"; font-weight:bold; font-size:30px; color:#247;}
.wifi_line_act {height:40px; width:1050px; background:#247; padding:0 10px; font-family:"Trebuchet MS"; font-weight:bold; font-size:30px; color:#fff;}
.signal_1 {height:24px; width:34px; float:left; margin:8px 10px 0 0; background:url(720/signal1.png);}
.signal_2 {height:24px; width:34px; float:left; margin:8px 10px 0 0; background:url(720/signal2.png);}
.signal_3 {height:24px; width:34px; float:left; margin:8px 10px 0 0; background:url(720/signal3.png);}
.signal_4 {height:24px; width:34px; float:left; margin:8px 10px 0 0; background:url(720/signal4.png);}
.list_head {font-family:"Trebuchet MS"; font-size:24px; color:#fff;font-weight:normal; margin-right:10px;max-width:100%; word-wrap: break-word;  word-break: break-all;}


.nsl{margin-top:180px;}
.nsl1{margin-top:100px;}
.nsp1{margin-top:120px;}
.nsp{margin-top:130px;}
.nsp{margin-top:90px;}
.nsp2{margin-top:30px;}
.nsw{margin-top:160px;}
.audio{margin-top:50px;}
#skan{width:600px; float:left}
.upd{margin-top: 70;}

#update_prbar{height: 46px;width: 1070px;margin-left: 10px;margin-top: 15px;}
#prbar_bg{position: absolute;width: 1070px;height: 46px;background: url(720/progress_bg.png) no-repeat;}
#prbar_line{position: absolute;width: 0px;height: 46px; background: url(720/progress.png) no-repeat;}
.percent {position:relative;  height:46px; width:588px; color:#fff; font-family:"Myriad Pro"; font-size:26px; text-shadow:1px 0 2px #bb6016, -1px 0 2px #bb6016, 0 1px 2px #bb6016, 0 -1px 2px #bb6016; margin:-36px 0 0 20px;}

#list_array{position:absolute; background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #ccc)); border:solid 2px rgba(0,0,0,.7); border-radius:7px; width:570px;max-width: 570px;overflow: hidden; bottom:242px; margin-left:470px; padding:5px 5px 5px 5px; -webkit-box-shadow:0px 0px 200px #000; color:#247; font-family:'Myriad Pro'; display:none; z-index:999;}
#list_array .line{width:560px; padding:0px 5px 0px 5px; font-family:"Trebuchet MS"; font-weight:bold; font-size:30px; color:#247;}
#list_array .line_act {width:560px; padding:0px 5px 0px 5px; background:#247; font-family:"Trebuchet MS"; font-weight:bold; font-size:30px; color:#fff;}

#tracert_result_head{
    margin-top: 80px;
    margin-right: 15px;
}

#tracert_result {
    height: 320px;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 15px;
}

#tracert_result_head td, #tracert_result td{
    width: 25%;
}

#tracert_result_head td:first-of-type, #tracert_result td:first-of-type{
    width: 50%;
}

-->


