#epg_simple .blue_row_bg[active="active"]{
    background-position: -182px -1px;
}

#epg_simple .t_time_block{
    height: 21px;
    float: left;
    margin: 5px 0 0 4px;
    color: #002864;
    text-shadow: #fff 0 1px 0;
    text-align: center;
    white-space: pre;
    overflow: hidden;
    font-size: 19px;
    font-family: "Myriad Pro Cond", serif;
    background-color: #eee;
    border-radius: 4px;
    padding: 1px 3px 0 2px;
}

#epg_simple .blue_row_bg[active="active"] .t_time_block{
    height: 25px;
    color: #fff;
    text-shadow: #122946 0 -1px 0;
    padding-top: 3px;
    margin: 2px 0 0 4px;
    background-color: #004C97;
    border-radius: 4px;
}

#epg_simple .name_block{
    color: #fff;
    font-size: 20px;
    text-shadow: #122946 0 -1px 0;
    margin: 3px 0 0 3px;
    padding-left: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
}

#epg_simple .mark_memo_block{
    position: absolute;
    top: 1px;
    left: 9px;
    height: 8px;
    width: 8px;
    background-image: url("i/epg_green_mark.png");
}

#epg_simple .mark_rec_block{
    position: absolute;
    top: 1px;
    left: 1px;
    height: 8px;
    width: 8px;
    background-image: url("i/epg_red_mark.png");
}

#epg_simple .mark_archive_block{
    position: absolute;
    top: 1px;
    left: 17px;
    height: 8px;
    width: 8px;
    background-image: url("i/epg_orange_mark.png");
}

#epg_simple .blue_row_bg[rel="close"] .name_block{
    color: #99A8B5 !important;
}
#epg_simple .blue_row_bg[active="active"][rel="close"] .name_block{
    color: #808080 !important;
}

#epg_simple .blue_row_bg[active="active"] .name_block{
    color: #002864;
    text-shadow: #fff 0 1px 0;
}

#epg_simple .week{
    position: absolute;
    left: 49px;
    top: 92px;
    list-style: none;
}

#epg_simple .week li{
    width: 175px;
    height: 28px;
    margin: 0 0 1px 0;
    background-image: url("i/tv_table.png");
    background-position: 0 -36px;
    color: #fff;
    font-size: 20px;
    text-shadow: #122946 0 -1px 0;
    padding: 5px 0 0 1px;
    text-align: center;
}

#epg_simple .week li[active="active"]{
    background-position: 0 -1px;
    color: #002864;
    text-shadow: #fff 0 1px 0;
}

#epg_simple .week li[rel="close"]{
    color: #99A8B5 !important;
}

#epg_simple .week li[active="active"][rel="close"]{
    color: #808080 !important;
}

#epg_simple .program_info, #epg_simple .full_program_info{
    position: absolute;
    bottom: 60px;
    left: 49px;
    height: 75px;
    width: 622px;
    font-size: 20px;
    color: #fff;
    background-image: url("i/25alfa_20.png");
    padding: 0 5px;
    -webkit-border-radius: 8px;
    overflow: hidden;
}

#epg_simple .program_info .time, #epg_simple .full_program_info .time{
    color: #cfeafe;
    font-weight: bold;
}

#epg_simple .full_program_info{
    height: 421px;
    top: 73px;
    width: 621px;
}

#epg_simple .full_program_info_content{
    position: absolute;
    width: 595px;
    height: 415px;
    overflow: hidden;
    padding-top: 3px;
    /*text-align: justify;*/
}