.guess_block{
    color: #fff;
    font-size: 26px;
    text-shadow: #122946 0 -1px 0;
    margin: 5px 0 0 13px;
    padding-left: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 65px;
}

.active_guess_block{
    font-size: 26px;
    color: #002864;
    text-shadow: #fff 0 1px 0;
    margin: 11px 25px 0 14px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 70px;
}

.score_block{
    color: #fff;
    font-size: 26px;
    text-shadow: #122946 0 -1px 0;
    margin: 5px 20px 0 3px;
    padding-left: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
}

.active_score_block{
    font-size: 26px;
    color: #002864;
    text-shadow: #fff 0 1px 0;
    margin: 11px 30px 16px 4px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    /*width: 62px;*/
}

.mastermind_field{
    position: absolute;
    top: 291px;
    left: 729px;
}

.mastermind_field div{
    float: left;
    width: 70px;
    height: 90px;
    /*background-color: #245490;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#285b9b), to(#10325b));
    background: -moz-linear-gradient(top, #285b9b, #10325b);
    margin: 0 25px 0 0;
    text-align: center;
    font-size: 64px;
    -webkit-box-shadow: 3px 3px 15px #111;
    -moz-box-shadow: 3px 3px 15px #111;
    box-shadow: 3px 3px 15px #111;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    border: 2px solid #4a71a1;
    padding: 15px 0 0 0;
}

.mastermind_field .active{
    border: 2px solid #bfb770;
}

.place_block{
    background-image: url("i_720/mb_icons.png");
    background-position: -112px 0;
    width: 44px;
    height: 29px;
    float: left;
    margin: 4px 0 0 4px;
    color: #002864;
    text-shadow: #fff 0 1px 0;
    font-size: 24px;
    text-align: center;
    white-space: pre;
    overflow: hidden;
}

.active_place_block{
    width: 44px;
    height: 33px;
    background-image: url("i_720/mb_icons.png");
    background-position: -112px -31px;
    margin: 8px 2px 0 0;
    float:left;
    font-size: 24px;
    color: #fff;
    text-shadow: #122946 0 -1px 0;
    text-align: center;
    white-space: pre;
    overflow: hidden;
    padding-top: 2px;
}

.sum_points_block{
    color: #fff;
    font-size: 24px;
    text-shadow: #122946 0 -1px 0;
    margin: 3px 15px 0 3px;
    padding-left: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
}

.active_sum_points_block{
    font-size: 24px;
    color: #002864;
    text-shadow: #fff 0 1px 0;
    margin: 10px 40px 0 0;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
}

#mastermind_rating .name_block, #mastermind_rating .active_name_block{
    float: left;
}

.mastermind_rules_txt{
    position: absolute;
	left: 70px;
	top: 83px;
	width: 1100px;
	height: 510px;
	background-image: url("i_720/25alfa_20.png");
	padding: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-size: 24px;
}