/* TV */

#tv .pvr_block{
    width: 22px;
    height: 26px;
    background: url("i/mb_icon_rec.png") no-repeat;
    float: left;
    margin: 4px 0 0 2px;
}

#tv .active_pvr_block{
    width: 22px;
    height: 26px;
    background : url("i/mb_icon_rec.png") no-repeat 0 -26px;
    float: left;
    margin: 11px 0 0 2px;
}

#tv .archive_block, #tv .local_time_shift_block{
    width: 21px;
    height: 22px;
    background: url("i/mb_icons.png") no-repeat -175px 0;
    float: left;
    margin-top: 4px;
}

#tv .active_archive_block, #tv .active_local_time_shift_block{
    width: 23px;
    height: 30px;
    background: url("i/mb_icons.png") no-repeat -175px -22px;
    float: left;
    margin-top: 7px;
}

#tv .name_block{
    color: #fff;
    font-size: 20px;
    text-shadow: #122946 0 -1px 0;
    margin: 3px 0 0 3px;
    padding-left: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    /*float: left;*/
    /*width: 209px;*/
}

#tv .active_name_block{
    font-size: 22px;
    color: #002864;
    text-shadow: #fff 0 1px 0;
    /*margin-top: 8px;
    margin-right: 25px;*/
    margin: 0 15px 0 0;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 290px;
    height: 26px;
    padding-left: 3px;
}

#tv .short_container .active_name_block{
    width: auto;
    margin-top: 9px;
    float: none;
}

#tv .wide_container .blue_row_bg{
    position: absolute;
    left: 49px;
    top: 72px;
    /*width: 622px;*/
    width: 253px;
    height: 30px;
    background-image: url("i/mb_table07.png");
    /*background-position: 0 -180px;*/
    padding-right: 370px;
}

.cur_playing_block{
    /*color: #fff;
    font-size: 20px;
    text-shadow: #122946 0 -1px 0;*/
    font-size: 17px;
    color: #bbc4d2;
    margin: 0px 0 0 3px;
    padding-left: 5px;
    padding-top: 5px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    /*float: right;*/
    position: absolute;
    top: 0;
    right: 3px;
    width: 360px;
    /*width: 312px;*/
    /*float: left;*/
    /*background-image: url("i/mb_table.png");
    background-position: -253px -180px;
    height: 30px;*/
}

.short_container .cur_playing_block{
    display: none !important;
}

.short_container .active_cur_playing_block{
    display: none !important;
}

.active_cur_playing_block{
    /*font-size: 22px;
    color: #002864;
    text-shadow: #fff 0 1px 0;*/
    font-size: 18px;
    color: #284b82;
    /*margin-top: 8px;
    margin-right: 25px;*/
    white-space: pre;
    overflow: hidden;
    width: 469px;
    float: left;
    text-overflow: ellipsis;
    margin: -5px 0 0 0;
}

.tv_timetable{
    position: absolute;
    width: 334px;
    top: 340px;
    left: 341px;
    padding: 5px 0 0;
    font-size: 18px;
    color: #99a8b5;
    overflow: hidden;
    height: 150px;
}

#tv .epg_mask{
    -webkit-mask: -webkit-gradient(linear, left 105, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.tv_timetable .mark_memo{
    background-image: url("i/epg_green_mark.png");
    height: 8px;
    width: 8px;
    position: relative;
    /*left: 3px;*/
    top: 5px;
    float: left;
}

.tv_timetable .dummy_mark_memo{
    height: 8px;
    width: 8px;
    position: relative;
    /*left: 3px;*/
    top: 5px;
    float: left;
}

.tv_timetable .time{
    color: #cfeafe;
    font-family: "Myriad Pro Cond";
}

.tv_timetable .current{
    color: #fff;
}

.tv_prev_window{
    position: absolute;
    background: url("i/tv_prev_bg.png");
    height: 256px;
    width: 320px;
    top: 69px;
    left: 345px;
    padding: 5px;
}

#tv .tv_prev_msg{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-top: 107px;
}

.tv_clock{
    position: absolute;
    top: 48px;
    right: 50px;
    width: 100px;
    font-size: 20px;
    color: #99A8B5;
    font-family: "Myriad Pro Cond";
    text-align:right;
}

.tv_preview_quick_ch_switch{
    top: 300px;
}


#tv .quality_high_block{
    position: absolute;
    top: 4px;
    right: 5px;
    height: 21px;
    width: 24px;
    background: url("i/mb_quality.png") no-repeat -48px 0;
}

#tv .active_quality_high_block{
    position: absolute;
    top: 11px;
    right: 15px;
    height: 31px;
    width: 24px;
    background: url("i/mb_quality.png") no-repeat -48px -21px;
}

#tv .quality_medium_block{
    position: absolute;
    top: 4px;
    right: 5px;
    height: 21px;
    width: 24px;
    background: url("i/mb_quality.png") no-repeat -24px 0;
}

#tv .active_quality_medium_block{
    position: absolute;
    top: 11px;
    right: 15px;
    height: 31px;
    width: 24px;
    background: url("i/mb_quality.png") no-repeat -24px -21px;
}

#tv .quality_low_block{
    position: absolute;
    top: 4px;
    right: 5px;
    height: 21px;
    width: 24px;
    background: url("i/mb_quality.png") no-repeat 0 0;
}

#tv .active_quality_low_block{
    position: absolute;
    top: 11px;
    right: 15px;
    height: 31px;
    width: 24px;
    background: url("i/mb_quality.png") no-repeat 0 -21px;
}

#tv .wide_container .active_quality_low_block, #tv .wide_container .active_quality_medium_block, #tv .wide_container .active_quality_high_block{
    right: 25px;
}

#tv[rel="quality-filter"] .short_container .name_block{
    margin-right: 30px;
}
#tv[rel="quality-filter"] .short_container .active_name_block{
    margin-right: 40px;
}

#tv[rel="quality-filter"] .wide_container .cur_playing_block{
    right: 33px;
    width: 329px;
}

#tv .playback_progress_block{
    width: 218px;
    margin: 0;
    position: absolute;
    top: 191px;
    right: 100px;
}

#tv .now_playing_block{
    width: 24px;
    height: 21px;
    float: left;
    margin: 4px 0 0 4px;
    background: url("i/mb_player.png") no-repeat;
}

#tv .active_now_playing_block{
    width: 24px;
    height: 27px;
    margin: 8px 2px 0 0;
    float: left;
    background: url("i/mb_player.png") no-repeat 0 -23px;
    border-radius: 3px;
}

#tv .logo_block{
    width: 20px;
    height: 20px;
    float: left;
    margin: 5px 0 0 4px;
    overflow: hidden;
    border-radius: 3px;
}

#tv .logo_block img{
    width: 20px;
    height: 20px;
}

#tv .active_logo_block{
    width: 27px;
    height: 27px;
    float: left;
    margin: 8px 2px 0 0;
    overflow: hidden;
    border-radius: 3px;
}

#tv .active_logo_block img{
    width: 27px;
    height: 27px;
}

/* END TV */