/* TV */

#tv .pvr_block{
    width: 22px;
    height: 34px;
    background: url("i_720/mb_icon_rec.png") no-repeat 0 0;
    float: left;
    margin: 3px 0 0 4px;
}

#tv .active_pvr_block{
    width: 22px;
    height: 34px;
    background: url("i_720/mb_icon_rec.png") no-repeat 0 -34px;
    float: left;
    margin: 10px 0 0 2px;
}

#tv .archive_block, #tv .local_time_shift_block{
    width: 27px;
    height: 28px;
    background: url("i_720/mb_icons.png") no-repeat -224px 0;
    float: left;
    margin-top: 4px;
}

#tv .active_archive_block, #tv .active_local_time_shift_block{
    width: 27px;
    height: 30px;
    background: url("i_720/mb_icons.png") no-repeat -224px -32px;
    float: left;
    margin-top: 9px;
}

#tv .name_block{
    color: #fff;
    font-size: 26px;
    text-shadow: #122946 0 -1px 0;
    /*margin: 4px 0 0 3px;*/
    padding-left: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    /*float: left;*/
    /*width: 209px;*/
}

#tv .active_name_block{
    /*font-size: 22px;
    color: #002864;
    text-shadow: #fff 0 1px 0;*/
    margin: 0 15px 0 0;
    /*white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 290px;
    height: 26px;*/
    padding-left: 3px;
}

#tv .short_container .active_name_block{
    width: auto;
    margin-top: 11px;
    float: none;
}

#tv .wide_container .blue_row_bg{
    background: url("i_720/mb_table07.png") no-repeat;
    /*position: absolute;
    left: 49px;
    top: 72px;
    *//*width: 622px;*//*
    width: 253px;
    height: 30px;
    background-image: url("i_720/mb_table.png");
    background-position: 0 -180px;
    padding-right: 370px;*/
    /*background-position: 0 -228px;*/
}

.cur_playing_block{
    /*color: #fff;
    font-size: 20px;
    text-shadow: #122946 0 -1px 0;*/
    font-size: 20px;
    color: #bbc4d2;
    margin: 0 0 0 3px;
    padding-left: 5px;
    padding-top: 8px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    /*float: right;*/
    position: absolute;
    top: 0;
    right: 3px;
    width: 652px;
    /*width: 312px;*/
    /*float: left;*/
    /*background-image: url("i/mb_table.png");
    background-position: -253px -180px;
    height: 30px;*/
}

.short_container .cur_playing_block{
    display: none !important;
}

.short_container .active_cur_playing_block{
    display: none !important;
}

.active_cur_playing_block{
    /*font-size: 22px;
    color: #002864;
    text-shadow: #fff 0 1px 0;*/
    font-size: 20px;
    line-height: 21px;
    color: #284b82;
    /*margin-top: 8px;
    margin-right: 25px;*/
    white-space: pre;
    overflow: hidden;
    width: 950px;
    float: left;
    text-overflow: ellipsis;
    margin: -5px 0 0 0;
}

.tv_timetable{
    position: absolute;
    width: 589px;
    top: 422px;
    left: 615px;
    padding: 5px 0 0;
    font-size: 22px;
    color: #99a8b5;
    overflow: hidden;
    height: 185px;
}

#tv .epg_mask{
    -webkit-mask: -webkit-gradient(linear, left 145, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.tv_timetable .mark_memo{
    background-image: url("i_720/epg_green_mark.png");
    height: 8px;
    width: 8px;
    position: relative;
    /*left: 3px;*/
    top: 5px;
    float: left;
}

.tv_timetable .dummy_mark_memo{
    height: 8px;
    width: 8px;
    position: relative;
    /*left: 3px;*/
    top: 5px;
    float: left;
}

.tv_timetable .time{
    color: #cfeafe;
    font-family: "Myriad Pro Cond";
}

.tv_timetable .current{
    color: #fff;
}

.tv_prev_window{
    position: absolute;
    background: url("i_720/tv_prev_bg.png");
    height: 330px;
    width: 579px;
    top: 83px;
    left: 615px;
    padding: 5px;
}

#tv .tv_prev_msg{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-top: 150px;
}

.tv_clock{
    position: absolute;
    top: 53px;
    right: 73px;
    width: 100px;
    font-size: 24px;
    color: #99A8B5;
    font-family: "Myriad Pro Cond";
    text-align: right;
}

.tv_preview_quick_ch_switch{
    top: 400px;
    left: 800px;
}

#tv .quality_high_block{
    position: absolute;
    top: 4px;
    right: 6px;
    height: 29px;
    width: 34px;
    background: url("i_720/mb_quality.png") no-repeat -68px 0;
}

#tv .active_quality_high_block{
    position: absolute;
    top: 11px;
    right: 15px;
    height: 39px;
    width: 34px;
    background: url("i_720/mb_quality.png") no-repeat -68px -29px;
}

#tv .quality_medium_block{
    position: absolute;
    top: 4px;
    right: 6px;
    height: 29px;
    width: 34px;
    background: url("i_720/mb_quality.png") no-repeat -34px 0;
}

#tv .active_quality_medium_block{
    position: absolute;
    top: 11px;
    right: 15px;
    height: 39px;
    width: 34px;
    background: url("i_720/mb_quality.png") no-repeat -34px -29px;
}

#tv .quality_low_block{
    position: absolute;
    top: 4px;
    right: 6px;
    height: 29px;
    width: 34px;
    background: url("i_720/mb_quality.png") no-repeat 0 0;
}

#tv .active_quality_low_block{
    position: absolute;
    top: 11px;
    right: 15px;
    height: 39px;
    width: 34px;
    background: url("i_720/mb_quality.png") no-repeat 0 -29px;
}

#tv .wide_container .active_quality_low_block, #tv .wide_container .active_quality_medium_block, #tv .wide_container .active_quality_high_block{
    right: 27px;
}

#tv .wide_container .quality_low_block, #tv .wide_container .quality_medium_block, #tv .wide_container .quality_high_block{
    right: 4px;
}

#tv[rel="quality-filter"] .short_container .name_block{
    margin-right: 30px;
}
#tv[rel="quality-filter"] .short_container .active_name_block{
    margin-right: 50px;
}

#tv[rel="quality-filter"] .wide_container .cur_playing_block{
    right: 41px;
    width: 613px;
}

#tv .playback_progress_block{
    width: 390px;
    margin: 0;
    position: absolute;
    top: 242px;
    right: 177px;
}

#tv .now_playing_block{
    width: 34px;
    height: 30px;
    float: left;
    margin: 4px 0 0 4px;
    background: url("i_720/mb_player.png") no-repeat;
}

#tv .active_now_playing_block{
    width: 34px;
    height: 34px;
    margin: 8px 2px 0 0;
    float: left;
    background: url("i_720/mb_player.png") no-repeat 0 -30px;
    border-radius: 3px;
}

#tv .logo_block{
    width: 28px;
    height: 28px;
    float: left;
    margin: 5px 0 0 4px;
    overflow: hidden;
    border-radius: 3px;
}

#tv .logo_block img{
    width: 28px;
    height: 28px;
}

#tv .active_logo_block{
    width: 34px;
    height: 34px;
    float: left;
    margin: 8px 2px 0 0;
    overflow: hidden;
    border-radius: 3px;
}

#tv .active_logo_block img{
    width: 34px;
    height: 34px;
}

/* END TV */