.radio_widget_block{
    position: absolute;
    left: 71px;
    top : 270px;
    width: 293px;
    height: 82px;
    color: #fff;
    text-shadow: #000 0 -1px 0;
    font-size: 20px;
    text-align: center;
    background-image: url("i_720/25alfa_20.png");
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0 0 5px 0;
}

.radio_widget_block .title{
    white-space: pre;
    overflow: hidden;
    margin: 0 8px;
    text-overflow: ellipsis;
}

.radio_widget_block .items{
    margin: 0 auto;
    color: #99A8B5;
    font-size: 16px;
}

.radio_widget_block .seek_bar{
    margin: 0 auto;
    width: 94%;
    height: 4px;
    /*border: 1px solid #002864;*/
    background-color: #0077BB;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

.radio_widget_block .seek_bar .inner{
    height: 4px;
    width: 0;
    background-color: #fff;
    -webkit-border-radius: 3px;
}

.radio_widget_block .prev_btn{
    width: 38px;
    height: 29px;
    position: absolute;
    bottom: 5px;
    left: 43px;
    background-image: url("i_720/mb_player.png");
    background-position: -106px 0;
}

.radio_widget_block .next_btn{
    width: 38px;
    height: 29px;
    position: absolute;
    bottom: 5px;
    left: 208px;
    background-image: url("i_720/mb_player.png");
    background-position: -68px 0;
}

.radio_widget_block .play_btn{
    width: 34px;
    height: 29px;
    position: absolute;
    bottom: 5px;
    left: 128px;
    background-image: url("i_720/mb_player.png");
    background-position: 0 0;
}

.radio_widget_block .pause_btn{
    position: absolute;
    bottom: 5px;
    left: 128px;
    width: 34px;
    height: 29px;
    background-image: url("i_720/mb_player.png");
    background-position: -34px 0;
}